# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE/editor files
.vscode/
.idea/

# Environment variables (like Flask secrets, DB credentials, API keys)
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / Coverage / Mypy
.pytest_cache/
.coverage
.mypy_cache/
